.task{
    height: 40px;
    width: 50rem;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    text-align: center;
    margin: 10px auto;
    
}

.bottone{
    text-align: end;
    background-color: red;
    border: 1px solid black;
    border-radius: 30%;
    padding: 5px;
    font-weight: 700;
    
}

#container{
    width:60rem ;
    background-color: aqua;
    margin: auto;
    text-align: center;
    padding: 10px;
}

#target{
    display: inline;
    max-width: 50rem;
}

body{
    margin:0;
}


input{
    width: 46.3rem;
    height: 3rem;
    margin: 10px
}

.li{
    display: inline;
    padding : 20px;
}
